
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model BurialsViewModel




<div class="row">
    <div class="col-md-8 mx-auto">
        <a class="rounded-top btn btn-light  w-100" data-bs-toggle="collapse" href="#collapseFilter" role="button" aria-expanded="false" aria-controls="collapseFilter">
            Link with href
        </a>
        <div class="collapse" id="collapseFilter">
            <div class="rounded-bottom card card-body  w-100">
                <form class="form">

                    <button type="submit">Filter</button>
                </form>
            </div>
        </div>
        @if (User.IsInRole("Admin"))
        {
            <div class="add">
                <a class="button" style="text-decoration: none;" asp-action="AddBurial" asp-controller="Home">Add Mummy</a>
            </div>
        }
        <div class="list-group">
            @foreach (Burialmain x in Model.Burials)
            {
                <a asp-action="BurialDetails" asp-controller="Home" asp-route-burialId="@x.Id" class="list-group-item list-group-item-action">@x.Northsouth @x.Squarenorthsouth @x.Eastwest @x.Squareeastwest @x.Area #@x.Burialnumber</a>
            }
        </div>
    </div>
</div>

<div page-model="@Model.pageInfo" page-action="BurialInfo" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>
