@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model BurialsViewModel

<div class="list-group">
    @foreach (Burialmain x in Model.Burials)
    {
        <a asp-action="BurialDetails" asp-controller="Home" asp-route-burialId="@x.Id" class="list-group-item list-group-item-action">@x.Northsouth @x.Squarenorthsouth @x.Eastwest @x.Squareeastwest @x.Area #@x.Burialnumber</a>
    }

</div>
<div page-model="@Model.pageInfo" page-action="BurialInfo" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>
